//FOOTER

footer
  background-color: $dark-grey
  padding-top: 90px
  padding-bottom: 100px
  color: $white
  a
    color: $white
  .container
    display: flex
    justify-content: space-around
    flex-flow: row nowrap


.footer-right
  a
    display: block
    padding-bottom: .3em
  .site-link
    text-transform: uppercase
    padding-top: .2em

.footer-left
  p
    padding-top: 1em
    font-size: .8em
  .awards
    img
      width: 58px
      padding-left: 3px
      padding-right: 3px

.socials
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 1rem
  a
    display: inline-block
    height: 34px
    width: 34px
    padding-right: 3px
    background-repeat: no-repeat
    background-size: contain

a.icon-fb
  background-image: url('../images/social-logo-fb.svg');
  width: 20px
  height: 25px
  background-position: 0 50%
.icon-vk
  background-image: url('../images/social-logo-vk.svg');
  background-position: 0 50%
.icon-ok
  background-image: url('../images/social-logo-ok.svg');
a.icon-ig
  background-image: url('../images/social-logo-inst.svg');
  width: 30px
  height: 30px
  background-position: 0 50%
