//PROMOCODE SECTION

.promocode
  height: 230px
  background-color: $dark-grey
  color: $white
  text-align: center
  padding-top: 50px
  padding-bottom: 20px
  box-sizing: border-box
  >div:first-child
    padding-bottom: 20px
    font-size: 1.1rem
  .code
    text-transform: uppercase
    background-color: $red
    display: inline-block
    padding: 15px 20px
    font-size: 2rem
    font-weight: 600