//BASE
html
  font-size: 22px

body
  color: $main-text
  background-color: $white
  font-family: 'FuturaBookC'
  font-size: 1rem
  font-weight: 400
  margin: 0
  padding: 0
  p
    margin: 1rem 0
  a
    text-decoration: none
    &:hover
      text-decoration: none

.container
  width: 1170px
  max-width: 100%
  padding-left: 15px
  padding-right: 15px
  margin: 0 auto
  box-sizing: border-box

.btn-book
  display: inline-block
  padding: 28px 45px 29px
  font-size: .7rem
  font-family: 'Manrope'
  font-weight: 700
  color: $btn-text-color
  text-transform: uppercase
  letter-spacing: 1.6px
  cursor: pointer
  background-color: $btn-bg-color
  box-shadow: 0 15px 32px rgba(100, 100, 100, 0.74), 0 0 7px rgba(255, 255, 255, 0.08)
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -ms-transition: all .5s
  -o-transition: all .5s
  transition: all .5s
  &:hover
    background-color: #a08e5c

.map
  position: relative
  .empty
    position: absolute
    height: 10px
    background-color: transparent
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.22)
    -moz-box-shadow: 0 10px 10px rgba(0,0,0,.22)
    box-shadow: 0 10px 10px rgba(0,0,0,.22)
    z-index: 2
    top: -10px
    width: 100%


