//HEADER

.header
  color: $header-text
  background-color: #000
  background-image: url($bg-header)
  background-size: cover
  background-repeat: no-repeat
  padding-bottom: 160px
  background-position: center center

.header-text-wrapper
  display: flex
  flex-flow: column nowrap
  justify-content: space-around
  align-items: center
  text-align: center
  padding-top: 3rem
  h1
    color: $header-text
    font-size: 2.14rem
    font-family: 'Playfair Display'
    font-weight: 700
  p
    padding-bottom: 3em
    font-family: 'Futura PT Demi'


