.logo-section
  display: flex
  align-items: center
  flex-flow: column nowrap

.logo-wrapper
  width: 160px
  //padding: 20px 5px 20px 20px
  //background-color: $white
  //border-bottom-left-radius: 20%
  //border-bottom-right-radius: 20%
  img
    max-width: 100%

.logo-synergy
  padding-top: 5px
  img
    width: 160px