.about
  padding-top: 50px
  padding-bottom: 70px

.about-discount-wrap
  padding-top: 92px
  flex-basis: 40%

.about-discount
  padding: 30px 35px
  .logo-mriya
    max-width: 230px
    width: 100%
    display: block
    margin: 0 auto

.about-mriya-wrap
  flex-basis: 60%
  box-sizing: border-box