.slider
  flex-flow: column-reverse nowrap
  >div
    width: 100%
    height: 530px
  .slide-h
    font-size: 2.7rem
    padding-bottom: 30px
  .slide-desc
    height: 130px
  .text-part
    height: 460px
    justify-content: center
  .img-part
    overflow: hidden

.slide-num
  display: none

.rooms
  .nav
    ul
      flex-flow: row wrap
      justify-content: center
  .arr-back,.arr-front
    padding: 24px 32px 25px 31px
    margin-top: -82px
    width: 14px
    height: 33px
    -webkit-background-size: 14px 33px
    background-size: 14px 33px
    background-position: 32px 26px
  .arr-back
    top: 0
    right: 0
    margin-left: -76px
  .arr-front
    left: 50%

.room-name-item
  padding: 12px 35px