footer
  padding-top: 50px
  padding-bottom: 50px
  text-align: center
  .container
    flex-flow: column nowrap

.footer-left
  font-size: 1.2rem
  line-height: 1.5
  a
    display: inline-block
    padding-top: .3rem
    font-size: 1.1em
    font-weight: 600
  .awards
    justify-content: center

.footer-right
  padding-top: 1.5rem
  a
    font-size: 1.2rem
    display: inline-block
    padding-bottom: .5rem

.socials
  width: 70%
  margin: 0 auto