.rooms
  .nav
    ul
      width: 100%
      flex-flow: column nowrap
      align-items: center

.room-name-item
  width: 100%
  text-align: center
  box-sizing: border-box

.slider
  >div
    height: 300px
  .img-part
    .img-slider
      img
        height: 100%
  .text-part
    height: 400px
    .btn-book
      text-align: center
  .text-wrapper
    padding-right: 15px
    padding-top: 35px
    display: flex
    flex-flow: column nowrap
  .slide-h
    font-size: 2rem
  .arr-back,.arr-front
    padding: 15px 20px
    margin-top: -50px
    width: 10px
    height: 20px
    -webkit-background-size: 10px 20px
    background-size: 10px 20px
    background-position: 21px 16px
  .arr-back
    margin-left: -50px